<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<html>

<head>

    <title>Doe Vida</title>

</head>
<div id="cabecalho">
<body>

<p>Eu posso ajudar?</p>
<br>
<ul style="list-style-type:circle;">
    <li>
        Requisitos Mínimos
    </li>
    
    <li>
        Impedimentos Temporários
    </li>
    <li>
        Impedimentos Definitivos
    </li>
</ul>
        
</div>


<a href="http://127.0.0.1:5000/about">
<div id="heart"></div>
</a>
<div id="rodape">
    Feito por Bruno Rodrigues
</div>



</body>

</html>