<!DOCTYPE html>

<link href="{{ url_for('static', filename='css/heart2.css') }}" rel="stylesheet">

<html>

<head>

    <title>Doe Vida</title>

</head>
<div id="cabecalho">
<body>



    <p class="line-1 anim-typewriter">Quantas vidas você pode salvar hoje?</p>
        
</div>


<a href="http://127.0.0.1:5000/teste_usuario">
<div id="heart" class= "ac-footer-container ac-footer-brand">
        <img src="https://image.flaticon.com/icons/svg/148/148836.svg">

<div class="ac-footer-container ac-footer-brand">
    <span class="ac-icon ac-icon-love-dark"></span> 
          
</div>
</a>



</body>

</html>