<!DOCTYPE html>

<link href="{{ url_for('static', filename='css/heart2.css') }}" rel="stylesheet">

<html>

<head>

    <title>Doe Vida</title>

</head>
<div id="cabecalho">
<body>



    <p class="line-1 anim-typewriter">Quantas vidas você pode salvar hoje?</p>
        
</div>


<a href="http://127.0.0.1:5000/about">
<div id="heart" onmouseover="document.body.style.backgroundColor='#333333';" onmouseout="document.body.style.backgroundColor='black';">
</div>
</a>



</body>

</html>