html{
    min-height: 100%;
    overflow: hidden;
  }
  body{
    height: 300px;
    padding: 0px 0px;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;  
    background-color: #111111;  
  }
  #cabecalho{
      position: relative;
      overflow: hidden;
      font-family: 'Anonymous Pro', monospace;
      color: #fff;
      margin: 0 auto;

      animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }

  
  #heart {
      position: relative;
      width: 100px;
      height: 90px;
      animation: heartbeat 5s infinite;
      margin:20px auto
  }
  
    
  .line-1{
    position: relative;
    top: 0;  
    width: 14px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
  
  @keyframes heartbeat
  {
    0%
    {
      transform: scale( .9 );
    }
    50%
    {
      transform: scale( 1 );
    }
    100%
    {
      transform: scale( .9 );
    }
  }
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 20em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.80);}
    to{border-right-color: transparent;}
  }

  
  .ac-footer .ac-icon {
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 30px;
    margin: auto
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(251, 54, 110, 0.05)
    }
    70% {
      box-shadow: 0 0 0 5000px rgba(251, 54, 110, 0.05)
    }
    100% {
      box-shadow: 0 0 0 5000px rgba(251, 54, 110, 0.05)
    }
  }
  
  
  .ac-icon-love-dark {
    display: block;
    position: relative
  }
  
  .ac-icon-love-dark:before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    z-index: -1;
    border-radius: 100%
  }
  
  .ac-footer-container:hover .ac-icon-love-dark:before {
    animation: pulse 10s ease infinite !important
  }
  
  .ac-icon-triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ff3300;
    position: relative;
    display: inline-block;
    margin-left: 8px
  }
  #titulo{
    margin: 0;
    font-size: 42px;
    text-align: center;
    align-content: center;
    letter-spacing: 10px;
  }
  #menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

a
{
  text-decoration: none;
  color: #232323;
  vertical-align: top;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 10px;
  color: #000 
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: 0px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-top: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 0%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -100px;
  padding: 100px 100px;
  padding-top: 90%;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: -100% -100%;
  transform: translate(-100%, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  top: 20%;
  padding: -200px 0px;
  font-size: 22px;

}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}