absl-py==0.8.0
aiodns==2.0.0
aiohttp==3.7.4
aiohttp-socks==0.3.4
alabaster==0.7.12
Flask==1.1.1
future==0.17.1
gast==0.3.1
geographiclib==1.50
geopy==1.20.0
gevent==1.4.0
glob2==0.7
google-images-download==2.8.0
google-pasta==0.1.7
googlemaps==3.1.2
googletransx==2.4.2
gpt-2-simple==0.6
greenlet==0.4.15
grpcio==1.23.0
gunicorn==20.0.4
json5==0.8.4
jsonschema==3.0.1
MarkupSafe==1.1.1
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
regex==2019.8.19
requests==2.22.0
rope==0.14.0
ruamel-yaml==0.15.46
SQLAlchemy==1.3.5
sqlparse==0.3.0
statsmodels==0.10.0
sympy==1.4
tables==3.5.2
tblib==1.4.0
